@charset "UTF-8";

// block, inline, inline-block, table, table-row, table-cell, flex
$display-values: (block, inline, inline-block, flex, none) !default;

@mixin helpers-display($responsive : false) {
  
  @if $responsive {
    @each $classname in $breakpoint-classes {
      @include breakpoint($classname) {
        @each $value in $display-values {
          .#{$classname}-display-#{$value} {
            display: #{$value} !important;
          }
        }
      }
    }
  } @else {
    @each $value in $display-values {
      .display-#{$value} {
        display: #{$value} !important;
      }
    }
  }
}